%footer{"data-container" => "width_284"}

	%p.visuallyhidden Seed to Sausage General Store Copyright 2015
	.wrap_svg.wrap_footer
		%svg.txt_footer{:viewBox => "0 0 284 18"}
			%use{"xlink:href" => "#txt_footer"}

%img#bg-image.visuallyhidden{:src => "assets/img/bg_pig.png", :alt => ""}