%header{"data-container" => "width_1170"}

	%ul#social_links.social_links
		%li.social_facebook
			%a.wrap_svg{:href => "https://www.facebook.com/seedtosausage", :title => "Like Us On Facebook", :target => "_blank"}
				%svg.ui_facebook{:viewBox => "0 0 64 64"}
					%use{"xlink:href" => "#ui_facebook"}
		%li.social_twitter
			%a.wrap_svg{:href => "https://twitter.com/SeedToSausage", :title => "Follow Us On Twitter", :target => "_blank"}
				%svg.ui_twitter{:viewBox => "0 0 64 64"}
					%use{"xlink:href" => "#ui_twitter"}

	%h1.visuallyhidden Seed To Sausage
	.wrap_svg.wrap_logo
		%svg.s2s_logo{:viewBox => "0 0 136 117"}
			%use{"xlink:href" => "#s2s_logo"}

	%h2.visuallyhidden Artisinal Cured Meats and Gourmet Foods
	.wrap_svg.wrap_title
		%svg.txt_title.svg_inline{:viewBox => "0 0 970 248"}
			%use{"xlink:href" => "#txt_title"}

	%h6.visuallyhidden Day of the Pig / Saturday May 16
	%a.wrap_svg.wrap_button{:href => "assets/files/flyer_dayofthepig_print.pdf", :title => "Day of the Pig / Saturday May 16"}
		%svg.txt_button-bg{:viewBox => "0 0 144 144"}
			%use{"xlink:href" => "#txt_button-bg"}
		%svg.txt_button-txt{:viewBox => "0 0 144 144"}
			%use{"xlink:href" => "#txt_button-txt"}